package views

import "nihal-innsof/portfolio/internal/views/partials"

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<link rel="stylesheet" href="/static/css/output.css"/>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>n1h41</title>
		</head>
		<body>
			{ children... }
		</body>
    @partials.Footer()
	</html>
}
