package views

templ ToolsView() {
	<section :class="darkMode ? 'bg-black text-white' : 'bg-white text-black'" class="rounded-lg flex flex-col main-section mx-4 my-10 md:mx-38 md:p-14 xl:mx-72 xl:p-16">
    Testing
  </section>
}
